
.auth-container {
  display: grid;
  row-gap: 30px;
  width: 84%;
  max-width: 640px;
  margin: 60px auto;
  background-color: #f7f7f7;
}

.auth-container h1 {
  justify-self: center;
}

.auth-container p {
  justify-self: center;
}

.auth-form {
  display: grid;
  row-gap: 30px;
}

.auth-form-control {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #ddd;
  padding: 10px;
  font-size: 16px;
  outline: none;
  appearance: none;
  border-radius: 0;
}

.auth-button {
  justify-self: center;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width:35%;
}

.auth-button:hover {
  cursor: pointer;
  opacity: 0.7;
}